div(id='statusbar')
    div(id='status-indicator' class='statusIndicator' status='idle')
    span(id='error-message')
    span(id='container-info')
        | please report bugs
        |
        a(href='https://github.com/Trivernis/whooshy/issues') here
