div(id='statusbar')
    div(id='status-indicator' class='statusIndicator' status='idle')
    span(id='error-message')
    span(id='container-info')
        a(href='https://github.com/Trivernis/whooshy/issues') Bug/Feature
        |
        |
        span |
        |
        |
        a(href='mailto:trivernis@gmail.com') Contact
