extends layout

block content
  div(id='content')
    div(id='info')
      h1= title
      p Welcome to #{title}
      a(href=contact) Contact
    button(id='bingo-button' onclick='window.location.href="/bingo"') Bingo

    include includes/info-container
