html
    head
        title= title
        include includes/head.pug
        script(type='text/javascript', src='/javascripts/riddle-web.js')
        link(rel='stylesheet', href='/sass/riddle/style.sass')
    body
        h1 Riddle Reddit downloader
        input(type='text' placeholder='subreddit' id='subreddit-input')
        button(id='submit-download' onclick='submitDownload()') Download
        div(id='download-list')
