doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/sass/style.sass')
    link(rel='stylesheet' href='/sass/index/style.sass')
    script(type='text/javascript' src='/javascripts/common.js')
  body
    block content
