div(id='container-chat')
    //h1(id='chat-header') Chat
    div(id='chat-content')
    input(id='chat-input' type='text', placeholder='send message', onkeypress='submitOnEnter(event, sendChatMessage)' maxlength="250")
