html
    head
        include ../includes/head
        title Bingo by Trivernis
        script(type='text/javascript', src='/javascripts/bingo-web.js')
        link(rel='stylesheet', href='/sass/bingo/style.sass')
    body
        block content
