extends  bingo-layout

block content
    div(id='bingoform')
        input(type='number', id='bingo-grid-size', class='number-input', value=3, min=1, max=8)
        span x
        span(id='bingo-grid-y', class='number-input') 3
        button(onclick='submitBingoWords()') Submit
        textarea(id='bingo-textarea', placeholder='Bingo Words')